%section.round
  %h2.sign_form Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .field
      %p
        = f.label :name, :class => "label"
        %br/
        = f.text_field :name, :class => "text"
    .field
      %p
        = f.label :email, :class => "label"
        %br/
        = f.email_field :email, :class => "text"
    .field
      %p
        = f.label :password, :class => "label"
        %br/
        = f.password_field :password, :class => "text"
    .field
      %p
        = f.label :password_confirmation, :class => "label"
        %br/
        = f.password_field :password_confirmation, :class => "text"
    .actions
      %p= f.submit "Sign up"
    .actions
      = render :partial => "devise/shared/links"
