!!! 5
%html
  %head
    %title= title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
  %body
    %p.notice= notice
    %p.alert= alert


    .container
      = render 'layouts/header'
      %section.round= yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?

